<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>{{ title }} | {{ site.title }}</title>

	<meta name="author" content="{{ site.author }}">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/reveal.min.css">

	<link rel="stylesheet" href="{{assets}}/css/reveal-theme.css" id="theme">

	<link href="{{assets}}/css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	{{> body }}

<script src="{{ assets }}/js/SP.libs.js"></script>
<script src="{{ assets }}/js/SP.main.js"></script>
</body>
</html>
