<section>
	<h1>Document inline.</h1>
</section>


<section>
	<div class="mine">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-mine.jpg" width="" height="">
	</div>
	<br>
	<br>
	<div class="mine fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-mixin-mine.jpg" width="" height="">
	</div>
	<br>
	<br>
	<div class="mine fragment" data-fragment-index="1">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-element-group-mine.jpg" width="" height="">
	</div>
</section>


<section>
	<div class="bootstrap">
		<img src="{{ SP.DIR_IMAGES }}/five-variables-bootstrap.jpg" width="" height="">
	</div>
</section>

<section>
	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/five-forms-inuit.jpg" width="" height="">
	</div>
</section>

<section>
	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/five-arrows-inuit.jpg" width="" height="">
	</div>
</section>

<aside class="notes">

</aside>
