<section>
	<h1><span class="sol-yellow">5.</span> Document inline.</h1>

	<aside class="notes">
		5. Document inline<br>
		And as our code gets more complex, this is more and more important<br>
	</aside>
</section>


<section>
	<div class="mine">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-mine.jpg" width="" height="">
	</div>
	<br>
	<br>
	<div class="mine fragment" data-fragment-index="0">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-mixin-mine.jpg" width="" height="">
	</div>
	<br>
	<br>
	<div class="mine fragment" data-fragment-index="1">
		<img src="{{ SP.DIR_IMAGES }}/five-bad-comments-element-group-mine.jpg" width="" height="">
	</div>

	<aside class="notes">
		CSS is notorious for comments that point out the obvious<strong  style="color:green"> [NEXT]</strong><br>
		or a general lack of commenting and bad naming conventions<strong  style="color:green"> [NEXT]</strong><br>
		or comments that are starting to be helpful but don't convey any semantics<strong  style="color:green"> [NEXT]</strong><br>
	</aside>
</section>


<section>
	<div class="bootstrap">
		<img src="{{ SP.DIR_IMAGES }}/five-variables-bootstrap.jpg" width="" height="">
	</div>

	<aside class="notes">
		Bootstrap have <em>particularly</em> good commenting<br>
		They explain things that we need to know like the value IS <em>intentionally unitless</em><br>
		and how the values was evaluated
	</aside>
</section>

<section>
	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/five-forms-inuit.jpg" width="" height="">
	</div>

	<aside class="notes">
		Inuit use html snippets in their doc-blocks to explain some of the semantics of classes
	</aside>
</section>

<section>
	<div class="inuit">
		<img src="{{ SP.DIR_IMAGES }}/five-arrows-inuit.jpg" width="" height="">
	</div>

	<aside class="notes">
		Inuit also draws pictures to convey useful information<br>
		so we should too
	</aside>
</section>
