<section>
	<h1><span class="sol-yellow">3.</span> Use objects for configs.</h1>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Use objects for configs.</h1>

	<div class="each-on-top-of">
		<div class="each mine">
			<img src="{{ SP.DIR_IMAGES }}/four-mine.jpg" height="" width="">
		</div>

		<div class="each toolkit fragment" data-fragment-index="0">
			<img src="{{ SP.DIR_IMAGES }}/four-toolkit.jpg" height="" width="720">
		</div>
	</div>


	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>

<section>
	<h1>Access the config object with getters and setters.</h1>

	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/four-2-config-item-toolkit.jpg" height="" width="">
	</div>
	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/four-2-getters-toolkit.jpg" height="" width="">
	</div>
	<br>
	<div class="toolkit">
		<img src="{{ SP.DIR_IMAGES }}/four-2-use-getter-toolkit.jpg" height="" width="">
	</div>


	<aside class="notes">
		Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
	</aside>
</section>



