<section>
	<h1><span class="sol-yellow">3.</span> Use objects for configs.</h1>

	<aside class="notes">
		Three. Use objects for configs.<strong style="color:green"> [DOWN]</strong>
	</aside>
</section>

<section>
	<h1 class="fragment" data-fragment-index="0">Use objects for configs.</h1>

	<div class="each-on-top-of">
		<div class="each mine">
			<img src="{{ SP.DIR_IMAGES }}/four-mine.jpg" height="" width="">
		</div>

		<div class="each toolkit fragment" data-fragment-index="0">
			<a href="https://github.com/Team-Sass/toolkit/blob/2.x.x/stylesheets/toolkit/_settings.scss"><img src="{{ SP.DIR_IMAGES }}/four-toolkit.jpg" height="" width="720"></a>
		</div>
	</div>


	<aside class="notes">
		Something that annoyed me about Sass was the unorganised mess that the config file becomes<br>
		<br>
		And I always wanted to write Sass configs with an Object syntax like we might do in JavaScript<br><br>
		<strong  style="color:green"> [DOWN]</strong> Well it turns out in Sass 3.3 <strong><u>you can</u> use objects for configs</strong>. Toolkit do !<br>
		...And now that our config is an Object <strong  style="color:green"> [DOWN]</strong><br>
	</aside>
</section>

<section>
	<h1>Access the config object with getters and setters.</h1>
	<br>
	<div class="toolkit">
		<a href="https://github.com/Team-Sass/toolkit/blob/2.x.x/stylesheets/toolkit/_settings.scss"><img src="{{ SP.DIR_IMAGES }}/four-2-config-item-toolkit.jpg" height="" width=""></a>
	</div>
	<br>
	<br>
	<div class="toolkit no-label">
		<a href="https://github.com/Team-Sass/toolkit/blob/2.x.x/stylesheets/toolkit/_settings.scss"><img src="{{ SP.DIR_IMAGES }}/four-2-getters-toolkit.jpg" height="" width=""></a>
	</div>
	<br>
	<br>
	<div class="toolkit no-label">
		<a href="https://github.com/Team-Sass/toolkit/blob/2.x.x/stylesheets/toolkit/_settings.scss"><img src="{{ SP.DIR_IMAGES }}/four-2-use-getter-toolkit.jpg" height="" width=""></a>
	</div>

	<aside class="notes">
		we can build our own getter and setter methods to read and write to them just like Toolkit do<strong style="color:#1e90ff">[RIGHT]</strong><br>
	</aside>
</section>



