<h1 class="jumbo-text"><small><span class="sol-yellow">10</span> Things I've <br>Learned from</small><br>Sass Plugins</h1>

<!--<img src="{{ SP.DIR_IMAGES }}/compass-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/bootstrap-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/bourbon-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/inuit-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/ionic-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/team-sass-logo.png">-->
<!--<img src="{{ SP.DIR_IMAGES }}/zurb-logo.png">-->


<aside class="notes">
	Ok, hi everybody.<br>
	Today I am going to talk about Sass.<strong style="color:#1e90ff">[RIGHT]</strong>
</aside>